button{
    display: block;
}
textarea{
    width: 80%;
    margin-left: 20px;
    font-size: 20px;
}
textarea.list{
    width: 15%;

} 

button{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div{
    margin: 20px;
}